html body {
    /* background-color: rgb(255, 219, 183); */
    background-color: #222;
    display: flex;
    flex-direction: c;
    justify-content: center;
    height: 100%;
    margin: 100px auto 0;
}
.container {
    /* background-color: #bebbbb; */
    background: linear-gradient(135deg, #00feba, #3721c4);
    display: inline-block;
    padding: 10%;
    border-radius: 20px;
    border-top: 5px rgb(67, 66, 66) solid;
    border-left: 5px rgb(57, 56, 56) solid;

}
span {
    margin-left: 80px;
}

.fix {
    width: 240px;
}

button {
    margin-left: 5px;
    color: white;
    background-color: rgb(34, 116, 203);
    border-radius: 10px;
    border: 2px solid black;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
#error {
    color: red;
    margin-left: 30px;
    margin-top: 5px;
}